<!DOCTYPE html>
<html>

<head>
    <title></title>
</head>

<body>
    <main>
        <h1>Categories</h1>
        <table>
            <tr>
                <th>Name</th>
                <th>Number of receipts</th>
            </tr>
            {% for thing in expense_list %}
            <tr>
                <td>{{ thing.name }}</td>
                <td>{{ thing.receipts.all|length }}</td>
            </tr>
            {% endfor %}
        </table>
    </main>
</body>

</html>
